body {
  background-color: teal; }
  body h1 {
    text-align: center; }

#zip {
  margin: 0 auto; }

.search-bar {
  width: 50%;
  background-color: LightBlue;
  text-align: center; }

#todo, #completedDiv {
  text-align: center;
  margin: 0 auto;
  margin-top: 5px;
  border: 1px solid black;
  width: 75%;
  background-color: LightBlue; }

.outputDiv {
  font-size: 1.75em; }
